/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    overflow-x: hidden;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*=================================*/
* {font-family: Arial, Helvetica, sans-serif}
#nav_menu {padding: 0; width: 100%; margin: 0 auto}
#nav_menu ul {list-style: none; margin: 0; padding: 0}
#nav_menu li {display: inline}
#nav_menu a {
float: left;
width: 125px;
height: 20px;
background-color: ;
border-left: 1px solid #000000;
border-right: 1px solid #000000;
text-decoration: none;
text-align: center;
padding: 0;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 5px;
padding-right: 5px;
font-size: 15px;
color: #000000;
}
#nav_menu a:hover {background-color: #000000; color: #fff; font-family: Arial Helvetica 17px bold;}


.big_block121 {
    margin: 0;
    padding: 0;
}
.container #aside1  {
    overflow: hidden;
}
#nav_menu {
overflow: hidden;
    position: absolute;
    z-index: 1000;
}
#aside1 .container { 
    width: 990px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}
#aside1 .container img {
    margin-left: 30px!important;
    margin-top: -10px!important;
}
#aside1 .logo {
    padding-top: 5px!important;
}
.big_block4 p img {
    display: inline-block!important;
} 
.big_block7 p {
/*    width: 1050px;*/
    padding-left: 0;
    margin-left: 0;
}
.big_block7 p img {
    padding: 0;
    margin: 0;
}
#aside1 ul {
    margin-top: 5px;
}
#aside1 .nav li { 
    padding: 10px!important;
    left: 25px;
}
#aside1 ul li a { 
    height: 25px;
    line-height: 20px;
} 
.big_block11, .page_block11, center {
    width: 100%!important;
}
.big_block11 {
    margin-top: 60px;
     padding-bottom: 50px; 
    min-height: 700px!important;
    min-height: 700px!important;
}
.big_block11 h1 { 
    padding: 30px; 
    margin-bottom: 40px;
    font-size: 46px;
    text-transform: uppercase;
    color: #2d3ae0;
    font-weight: bold;
    width: 80%;  
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #cfd8e3, 0 0 30px #cfd8e3, 0 0 30px #cfd8e3, 0 0 30px #cfd8e3, 0 0 30px #cfd8e3;
    color: #2d3ae0;
} 
.big_block11 strong {
    color: #fff;
    text-shadow: 0 1px 5px #000;
    letter-spacing: 1px;
    font-size: 1.2em;
} 
.time {
    height: 150px; 
    display: inline;
    position: relative;
    z-index: 1;
}
@media screen and (max-width: 1500px) { 
    .big_block11 h1 {
        font-size: 40px;
    }
}
@media screen and (max-width: 1300px) { 
    .big_block11 h1 {
        font-size: 30px;
    }
}
@media screen and (max-width: 900px) { 
    .big_block11 h1 {
        font-size: 24px;
    }
}
@media screen and (max-width: 700px) { 
    .big_block11 h1 {
        font-size: 20px;
    }
}
@media screen and (max-width: 500px) { 
    .big_block11 h1 {
        font-size: 14px;
    }
}



