/*media css desctop mobile*/
@media only screen and (max-width: 1000px) {
	img {
		max-width: 100%;
	}
	.left {
		float: none;
	}
	.right {
		float: none;
	}
	.width {
		width: auto !important;
		padding: 0 10px;
		max-width: 580px;
		margin: 0 auto;
	}
	#navTop {
		position: relative;
	}
	#block1 {
		margin: 0;
	}
	.namePage {
		font-size: 24px;
	}
	.descPage {
		font-size: 20px;
		margin: 30px 0;
	}
	.btnGo {
		max-width: 300px;
		width: 100%;
		display: inline-block;
	}
	.bisnesBox {
		text-align: center;
	}
	.bisnesBox p {
		width: auto;
		text-align: left;
		margin: 0;
	}
	.bisnesBox span {
		max-width: 300px;
		margin: 20px 0 0 0;
	}
	.nameBox {
		font-size: 24px;
	}
	.kogo {
		width: auto;
		max-width: 230px;
		margin: 0 20px 30px 20px;
	}
	.kogo span {
		width: 100%;
		max-width: 80px;
	}
	.kogo p {
		width: 100%;
		max-width: 210px;
		text-align: center;
	}
	.stepByBox {
		text-align: center;
	}
	.stepBy {
		width: auto;
		text-align: center;
		margin: 0 0px 0 0;
	}
	.step {
		margin: 30px 0 0 0;
	}
	.step span {
		width: 100%;
	}
	.step p {
		margin: 20px 0 0 0px;
		width: auto;
		//text-align: left;
	}
	.stepFoto {
		width: 100%;
		max-width: 300px;
	}
	.whatBox {
		width: auto;
	}
	.what {
		text-align: center;
	}
	.what span {
		width: 100%;
	}
	.what p {
		margin: -20px 0 0 0px;
		width: auto;
		text-align: left;
	}
	.videoBox iframe {
		width: 100%;
		max-width: 560px;
	}
	#block9 .nameBox {
		text-align: center;
	}
	.saleFoto {
		width: 100%;
		text-align: center;
		max-width: 550px;
		display: inline-block;
	}
	.authorBox {
		text-align: center;
	}
	.authorInfo {
		width: auto;
		margin: 0 0 50px 0;
		text-align: left;
	}
	.authorFoto {
		max-width: 350px;
		width: 100%;
	}
	#block13 .descBox {
		font-size: 20px;
	}
	.infoMap {
		width: auto;
		font-size: 18px;
		margin: 0 0 30px 0;
	}
	.fotoMap {
		width: 100%;
		max-width: 430px;
		border: none;
	}
}