/*
Verstka - Dima Melnyk (Skype: biotar666)
dima_melnyk@mail.ru
*/


html, body {
	background: url("../images/cobra_bg.jpg") no-repeat center top fixed;
	font-family: 'MyriadPro-Regular';
}

a {
	color: #000;
	transition: background 0.3s;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-o-transition: background 0.3s;
	-ms-transition: background 0.3s;
}

b, strong {
	font-family: 'MyriadPro-Bold';
}

.clear {
	clear: both;
}

.width, .wrapper {
	width: 1138px;
	margin: 0 auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

.wrapper {
	width: 1138px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 0 20px #000;
}

#block1 {
	background: url("../images/top.jpg") no-repeat center top;
	min-height: 123px;
}

.basketTop {
	background: url("../images/basket.png") no-repeat left;
	min-height: 40px;
	padding: 0 0 0 60px;
	font-size: 12px;
	text-align: right;
	margin: 0 19px 0 0;
}

.basketTop p {
}

.bsk_sale {
	color: #999;
	  margin: 5px 0;
}

.bsk_sale b {
	color: #fff;
}

.bsk_link {
	color: #ff6325;
}

.bsk_link a {
	color: #ff6325;
}

.bsk_link a:hover {
	text-decoration: none;
}

.head {
	margin: 0 0 0 19px;
}

.logoTop {
  height: 83px;
  position: relative;
  top: 3px;
}

.phoneTop {
	font-size: 28px;
	color: #fff;
	margin: 0 0 0 100px;
}

.phoneTop p {
	display: inline-block;
	background: rgba(0,0,0,0.4);
	line-height: 66px;
	padding: 0 30px;
	font-family: 'MyriadPro-Bold';
}

.searchTop {
	background: url("../images/search.png") no-repeat;
	width: 262px;
	height: 33px;
	margin: 33px 19px 0 0;
}

.search_i {
	background: none;
	border: none;
	outline: none;
	height: 33px;
	padding: 0 10px;
	width: 204px;
	float: left;
	color: #fff;
	font-family: 'MyriadPro-Regular';
}

.search_btn {
  border: none;
  float: left;
  width: 37px;
  height: 33px;
  border-radius: 5px;
  margin: 0 0 0 1px;
  background: none;
  cursor: pointer;
}

#block2 {
	background: url("../images/menu.jpg") no-repeat center top;
	min-height: 55px;
	//border-bottom: 1px solid #394044;
}

.menuTop {
	margin: 0 0 -6px 0;
	position: relative;
	z-index: 5;
}

.menuTop li {
	float: left;
	border-left: 1px solid #394044;
}

.menuTop li:first-child {
	border-left: none;
}

.menuTop li a {
	display: block;
	text-decoration: none;
	color: #fefefe;
	font-size: 13px;
	text-transform: uppercase;
	line-height: 55px;
	padding: 0 20px;
}

.menuTop li a:hover {
	border-bottom: 6px solid #ff0000;
}

.menuTop li.act a {
	border-bottom: 6px solid #ff0000;
}

#block3 {
	border-top: 1px solid #394044;
}

.bigSlider {
	position: relative;
}

.slider1 {
	position: relative;
    overflow: hidden;
}

.slider1 ul {
	width: 20000em;
    position: relative;
}

.slider1 ul li {
	float: left;
}

.slider1 ul li img {
	width: 100%;
	height: 600px;
}

.slider1-prev {
	background: url("../images/sl1.png") no-repeat;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: 19px;
	top: 50%;
	margin: -20px 0 0 0;
}

.slider1-next {
	background: url("../images/sl2.png") no-repeat;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	right: 19px;
	top: 50%;
	margin: -20px 0 0 0;
}

.slider1-prev:hover, .slider1-next:hover {
	opacity: 0.6;
}

#block4 {
	padding: 30px 19px;
}

.products {
}

.nameBox {
	font-size: 21px;
	color: #262d31;
	border-bottom: 4px solid #eee;
	position: relative;
	padding: 0 0 10px 10px;
	margin: 0 0 20px 0;
}

.nameBox a {
	font-size: 14px;
	color: #ff6325;
	position: absolute;
	bottom: 12px;
	right: 0;
}

.nameBox a:hover {
	text-decoration: none;
}

.listProducts {
}

.shortProducts {
	width: 250px;
	float: left;
	margin: 0 33px 0 0;
}

.shortProducts:last-child {
	margin: 0;
}

.imgPrdc {
	height: 160px;
	overflow: hidden;
	position: relative;
	background: #ededed;
}

.imgPrdc img {
	width: 100%;
	height: 160px;
}

.infoPrdc {
	font-size: 12px;
	color: #94a0a7;
	margin: 10px 0;
}

.infoPrdc p {
}

.datePrdc {
	background: url("../images/ico1.png") no-repeat left;
	padding: 0 0 0 20px;
}

.commPrdc {
	background: url("../images/ico3.png") no-repeat left;
	padding: 0 0 0 18px;
}

.viewPrdc {
	background: url("../images/ico2.png") no-repeat left;
	padding: 0 0 0 22px;
	margin: 0 20px 0 0;
}

.txtPrdc {
	font-size: 14px;
	color: #636a6e;
}

#block5 {
	background: #f1f1f1;
	padding: 30px 19px;
}

.bestBox {
}

.popularsBox {
	position: relative;
}

.slider2 {
	position: relative;
    overflow: hidden;
	padding: 10px 0;
}

.slider2 ul {
	width: 20000em;
    position: relative;
}

.goods {
	float: left;
	width: 210px;
	background: #fff;
	margin: 0 33px 0 0;
	padding: 20px;
	box-shadow: inset 0 0 25px rgba(132, 145, 158, 0.26);
}

.goods:hover {
	box-shadow: 0 0 10px rgba(131, 148, 162, 0.5);
}

.fotoGds {
	height: 220px;
	position: relative;
}

.fotoGds img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.aboutGds {
	margin: 10px 0 0 0;
}

.aboutGds a {
	font-size: 14px;
	color: #16a9ed;
	text-decoration: none;
}

.aboutGds a:hover {
	text-decoration: underline;
}

.aboutGds p {
	font-size: 12px;
	color: #636a6e;
	margin: 10px 0 0 0;
}

.priceGds {
	font-size: 21px;
	color: #ff6325;
	font-family: 'MyriadPro-Bold';
	margin: 10px 0;
}

.moreGds {
}

.moreGds a {
	display: block;
	background: url("../images/btn.png") no-repeat;
	width: 204px;
	height: 42px;
	margin: 0 auto;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}

.moreGds a:hover {
	background: url("../images/btn-h.png") no-repeat;
}

.moreGds a span {
  position: relative;
  top: 12px;
  left: 20px;
}

.slider2-prev {
	background: url("../images/sl5.png") no-repeat;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: 0px;
	top: 50%;
	margin: -20px 0 0 0;
}

.slider2-next {
	background: url("../images/sl6.png") no-repeat;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	right: 0px;
	top: 50%;
	margin: -20px 0 0 0;
}

.slider2-prev:hover, .slider2-next:hover {
	opacity: 0.6;
}

#block6 {
	padding: 30px 19px;
}

.otherBox {
}

.bx6 {
	width: 533px;
}

.newsBox {
}

.mainNews {
}

.shortNews {
	width: 250px;
	margin: 0 33px 0 0;
	float: left;
}

.shortNews:last-child {
	margin: 0;
}

.nameNews {
}

.nameNews p {
	display: inline-block;
	vertical-align: top;
}

.dateNews {
	font-size: 21px;
	color: #262d31;
	text-align: center;
	font-family: 'MyriadPro-Bold';
	line-height: 1;
	width: 45px;
}

.dateNews span {
	font-size: 14px;
	text-transform: uppercase;
}

.titleNews {
	border-left: 4px solid #ff6325;
	padding: 0 0px 0 8px;
	margin: 0 0px 0 5px;
	width: 180px;
	min-height: 35px
}

.titleNews a {
	font-size: 18px;
	color: #262d31;
}

.titleNews a:hover {
	text-decoration: none;
}

.infoNews {
	font-size: 14px;
	color: #636a6e;
	margin: 10px 0 0 0;
}

.moreNews {
	margin: 20px 0 0 0;
}

.moreNews a {
	font-size: 14px;
	color: #ff6325;
	text-decoration: none;
	display: inline-block;
	border: 1px solid #ff6325;
	border-radius: 3px;
	padding: 7px 20px;
}

.moreNews a:hover {
	color: #000;
	border: 1px solid #000;
}

.otherPrdc {
	margin: 50px 0 0 0;
}

.someBox {
}

.fotoSome {
	width: 250px;
	height: 185px;
	background: #ededed;
	overflow: hidden;
	position: relative;
	margin: 0 33px 0 0;
}

.fotoSome img {
	width: 250px;
	height: 185px;
}

.infoSome {
	width: 250px;
}

.titleSome {
}

.titleSome a {
	font-size: 18px;
	color: #262d31;
}

.titleSome a:hover {
	text-decoration: none;
}

.textSome {
	font-size: 14px;
	color: #636a6e;
	margin: 10px 0 20px 0;
}

.moreSome {
}

.moreSome a {
	font-size: 14px;
	color: #ff6325;
	text-decoration: none;
	display: inline-block;
	border: 1px solid #ff6325;
	border-radius: 3px;
	padding: 7px 20px;
}

.moreSome a:hover {
	color: #000;
	border: 1px solid #000;
}

.whyBox {
	background: #eee;
	padding: 5px;
}

.why_us {
	border: 1px solid #f9f9f9;
	padding: 20px;
}

.fotoWhy {
	display: inline-block;
	vertical-align: middle;
	width: 200px;
}

.fotoWhy img {
}

.infoWhy {
	width: 270px;
	display: inline-block;
	vertical-align: middle;
}

.shortWhy {
}

.shortWhy p {
}

.titleWhy {
	font-size: 21px;
	color: #ff6325;
}

.aboutWhy {
	font-size: 14px;
	color: #636a6e;
	margin: 10px 0;
}

.listWhy {
	font-size: 14px;
	color: #636a6e;
}

.listWhy li {
	background: url("../images/chek.png") no-repeat;
	padding: 0 0 10px 25px;
	border-bottom: 1px solid #dadbdb;
	margin: 0 0 10px 0;
}

.videoBox {
	margin: 30px 0 0 0;
}

.player {
	height: 305px;
	background: #000;
}

.player object {
	width: 100%;
	height: 305px;
}

.player iframe {
	width: 100%;
	height: 305px;
}

#block7 {
	background: url("../images/footer.jpg");
	margin: 50px 0 0 0;
	padding: 30px 19px;
}

.footer {
}

.ftBx {
	width: 250px;
	margin: 0 33px 0 0;
}

.copyright {
	font-size: 14px;
	color: #eee;
}

.socLinks {
	margin: 10px 0 0 0;
}

.ftName {
	font-size: 16px;
	color: #eee;
	font-family: 'MyriadPro-Bold';
	margin: 0 0 10px 0;
}

.ftMenu {
}

.ftMenu li {
	margin: 0 0 5px 0;
}

.ftMenu li a {
	font-size: 14px;
	color: #5b656c;
	text-decoration: none;
}

.ftMenu li a:hover {
	text-decoration: underline;
}

.ftBasket {
	font-size: 14px;
	color: #5b656c;
}

.ftBasket p {
	margin: 0 0 5px 0;
}

.ftBasket p span {
	color: #fff;
}

.ftLast {
	margin: 0;
}

.ftSearch {
	background: url("../images/search2.png") no-repeat;
	width: 249px;
	height: 31px;
}

.search_iFt {
	background: none;
	border: none;
	outline: none;
	height: 31px;
	padding: 0 10px 0 20px;
	width: 168px;
	float: left;
	color: #fff;
	font-family: 'MyriadPro-Regular';
}

.search_btnFt {
  border: none;
  float: left;
  width: 48px;
  height: 31px;
  border-radius: 35px;
  margin: 0 0 0 2px;
  background: none;
  cursor: pointer;
}

